* {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(78, 78, 78);
}

#moeda {
  border-radius: 30px;
  background-color: rgb(49, 49, 49);
  margin-top: 50px;
  height: 500px;
  width: 80vw;
}

header {
  margin-top: 50px;
}

l {
  color: #22cf39;
}

#search {
  margin-left: 2px;
  background-color: #22cf39;
  border: 0cm;
}

#search:hover {
  background-color: #229b32;
}