* {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(78, 78, 78);
}

#moeda {
  border-radius: 30px;
  background-color: rgb(49, 49, 49);
  margin-top: 50px;
  height: 500px;
  width: 80vw;
  display: flex;
  padding: 2%;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: scroll;
}

header {
  margin-top: 50px;
}

l {
  color: #22cf39;
}

#search {
  margin-left: 2px;
  background-color: #22cf39;
  color: black;
  border: 0cm;
}

#search:hover {
  background-color: #229b32;
}

.taxa-container {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  width: 130px;
  height: 50px;
  padding: 10px;
  gap: 5px;
  border-radius: 10px;
  font-size: 14px;
  align-items: center;
  justify-content:center;
}

.taxa-container p {
  margin: 0;
}